main {
  animation-name: easeIn;
  animation-duration: 1.5s;
}

@keyframes easeIn {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

/*ALL PRODUCTS*/

h2 {
  font-family: "ziclets", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  border-top: 0.08rem solid var(--orange);
  padding-top: 1rem;
  color: rgb(255, 141, 149);
  text-shadow: 0.1rem 0.1rem 0.1rem red;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.all-products-info {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--brown);
  margin-top: 0rem;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 4rem;
  line-height: 2rem;
}

/*IMAGES AND TEXT*/

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 3rem;
  margin-right: 3rem;
  align-items: center;
  row-gap: 5rem;
}

img {
  width: 90%;
  border-radius: 1rem;
  border: 1rem;
  filter: drop-shadow(0rem 0rem 0.05rem var(--orange));
}

.day-cream-grape,
.day-cream-lemon,
.day-cream-orange,
.hand-cream-grape,
.hand-cream-lemon,
.hand-cream-orange,
.night-cream-grape,
.night-cream-lemon,
.night-cream-orange,
.serum-grape,
.serum-lemon,
.serum-orange {
  display: grid;
  place-items: center;
  text-align: center;
}

h3 {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--brown);
}

span {
  margin-left: 7.5rem;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--brown);
}

/*RESPONSIVE ALL PRODUCTS */

@media screen and (max-width: 1270px) {
  .img-container {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    width: 100%;
  }
  span {
    margin-left: 3.6rem;
  }
  h3 {
    font-size: 1rem;
  }
  .all-products-info {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .img-container {
    grid-template-columns: repeat(1, 1fr);
    align-content: auto-fit;
    justify-content: center;
  }
  img {
    width: 100%;
  }
  .all-products-info {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  h3 {
    font-size: 1rem;
    margin-top: 2rem;
  }
  h2 {
    font-size: 2.5rem;
  }
}
