/*COLORS*/

:root {
  --yellow: rgb(253, 248, 225);
  --red: rgb(255, 83, 83);
  --orange: rgb(242, 151, 61);
  --brown: rgb(65, 42, 5);
  --green: rgb(201, 223, 213);
}

body {
  background-color: rgb(253, 248, 225);
}

/*HEADER*/

header {
  background-color: var(--yellow);
  padding-bottom: 1.5rem;
  width: 100%;
  position: sticky;
  z-index: 100;
  letter-spacing: 0.08rem;
  top: 0;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-family: "ziclets", sans-serif;
  letter-spacing: 0.3rem;
  color: var(--red);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
}

a {
  margin-left: 3rem;
  text-decoration: none;
  margin-right: 2rem;
  color: var(--orange);
  font-size: 1.1rem;
}

/*CART ICON IN NAV BAR*/

#cart-button {
  margin-left: 10rem;
  background-color: rgb(253, 248, 225);
  border: none;
  scale: 0.75;
  cursor: pointer;
}

/*SHOPPING CART HEADER*/

#shopping-container {
  width: 30rem;
  background-color: rgb(253, 248, 225);
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 20%;
  display: none;
  grid-template-columns: repeat (1, 1fr);
  grid-template-rows: repeat (1, 1fr);
  border-left: 0.2rem solid rgb(255, 217, 150);
  border-bottom: 0.2rem solid rgb(255, 217, 150);
}

#shopping-container h1 {
  text-align: center;
  margin-top: 3rem;
  grid-column: 1/2;
  letter-spacing: 0.08rem;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  color: var(--brown);
}

.cart-container {
  display: none;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat (2, 1fr);
  align-items: start;
}

.cart-text {
  grid-column: 2;
  grid-row: 1;
  margin-right: 5rem;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  color: var(--brown);
}

.total-price {
  border-top: 0.1rem solid var(--brown);
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 10rem;
}

.total {
  margin-top: 2rem;
}

.two-buttons-cart {
  display: flex;
  justify-self: center;
  gap: 3rem;
}

.checkout-button {
  border: none;
  width: 10rem;
  height: 3rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
  background-color: pink;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 14rem;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  color: var(--red);
  box-shadow: 0.1rem 0.1rem 0.1rem;
}

.close-window-button {
  border: none;
  width: 10rem;
  height: 3rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
  background-color: pink;
  font-size: 0.8rem;
  cursor: pointer;
  margin-top: 14rem;
  font-family: "futura-pt", sans-serif;
  font-weight: 600;
  color: var(--red);
  box-shadow: 0.1rem 0.1rem 0.1rem;
}

.checkout-img {
  width: 50%;
  margin-left: 2rem;
  grid-column: 1;
  grid-row: 1;
}

#decrement,
#increment {
  background-color: rgb(253, 248, 225);
  border: none;
  font-size: 1rem;
  color: var(--brown);
  cursor: pointer;
}

#input {
  background-color: rgb(253, 248, 225);
  border: none;
  width: 2rem;
  text-align: center;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--brown);
}

/*HIDE ARROWS FROM INPUT NUMBER */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*DETAIL PAGE*/

main {
  margin-right: 12rem;
  margin-left: 7rem;
  margin-top: 2rem;
}

.cream-img {
  width: 25em;
  display: flex;
  place-self: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
  border: 1rem;
  filter: drop-shadow(0rem 0rem 0.05rem var(--orange));
}

.img-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5rem;
}

.content-container {
  display: flex;
  justify-content: start;
}

.content-text {
  display: flex;
  flex-direction: column;
  color: var(--brown);
}

h1 {
  font-family: "futura", sans-serif;
  font-size: 1.8rem;
}

.price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0rem;
  font-family: "futura", sans-serif;
}

.day-cream-detail-info {
  font-family: "futura-pt", sans-serif;
}

/*BUTTONS*/

.select-item {
  background-color: rgb(255, 231, 235);
  font-family: "futura-pt", sans-serif;
  letter-spacing: 0.05rem;
  width: 100%;
  height: 2rem;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1rem;
  text-align: center;
}

.add-to-cart {
  display: flex;
  font-family: "futura-pt", sans-serif;
  background-color: var(--red);
  color: var(--yellow);
  font-weight: bold;
  letter-spacing: 0.08rem;
  border: none;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.how-to-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.info-button {
  display: flex;
  flex-direction: row;
  border: none;
  width: auto;
  gap: 5%;
  background-color: var(--yellow);
  border-top: 0.1rem solid var(--brown);
}

#ingredients-button {
  border-bottom: 0.1rem solid var(--brown);
}

.info-text {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--brown);
}

.how-to-use {
  display: none;
}

.ingredients {
  display: none;
}

.how-to-plus,
.ingredients-plus {
  margin-left: 36rem;
}

.ingredients-button {
  margin-top: 0.3rem;
}

.ingredients-content {
  display: flex;
  flex-direction: column;
}

/*RESPONSIVE*/

@media screen and (max-width: 820px) {
  main {
    margin-right: 8rem;
    margin-left: 8rem;
  }
  .cream-img {
    width: 100%;
  }
  .img-text {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  h1 {
    text-align: center;
    margin-top: 1rem;
  }
  .price {
    text-align: center;
  }
}

/*FOOTER*/

footer {
  background-color: var(--green);
  margin-top: 5rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  font-family: "futura-pt", sans-serif;
  color: var(--brown);
  font-weight: 500;
}

#footer-container1 {
  grid-column: 1;
  padding-left: 11rem;
  padding-right: 5rem;
  padding-bottom: 3rem;
}

#footer-container2 {
  grid-column: 2;
  padding-left: 11rem;
  padding-right: 5rem;
}

#footer-container3 {
  grid-column: 3;
  padding-left: 11rem;
  padding-right: 5rem;
}

.subscribe-button {
  background-color: var(--red);
  color: var(--yellow);
  border: none;
  border-radius: 1.25rem;
  width: 7rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: var(--yellow);
  color: var(--red);
}

.subscribe-text {
  letter-spacing: 0.01rem;
  word-spacing: 0.02rem;
}

input {
  background-color: var(--yellow);
  color: var(--red);
  border: none;
  border-radius: 1.25rem;
  width: 15rem;
  height: 2.5rem;
}

::placeholder {
  font-family: "futura-pt", sans-serif;
  color: var(--brown);
  padding-left: 1rem;
}

.copy-right {
  /* background-color: #c9dfd5; */
  background-color: var(--green);
  padding-left: 2rem;
}

.copy-logo {
  margin-right: 0.2rem;
}

/*RESPONSIVE FOOTER*/

@media screen and (max-width: 820px) {
  footer {
    text-align: start;
    margin-top: 5rem;
    padding: 0;
  }
  #footer-container1,
  #footer-container2,
  #footer-container3 {
    padding-left: 1.5rem;
    padding-top: 1rem;
  }
  #footer-container3 {
    align-items: end;
  }
  input {
    margin-bottom: 0.6rem;
    width: 10rem;
  }
  .copy-logo {
    margin-left: 1rem;
  }
  .copy-right {
    padding-left: 1rem;
  }
}
