main {
  margin-right: 7rem;
  margin-left: 7rem;
  margin-top: 2rem;
}

.content-container {
  display: flex;
}

.content-text {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
}

.price {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.change-amount {
  display: flex;
}

.cream-img {
  width: 30%;
  display: flex;
  border-radius: 1rem;
  margin-bottom: 2rem;
  height: fit-content;
}

.select-item {
  background-color: rgb(255, 231, 235);
  width: 2rem;
  height: 2rem;
  display: flex;
  margin-bottom: 2rem;
  width: 5rem;
  border-radius: 0.4rem;
  border-color: pink;
  font-size: 1rem;
  text-align: center;
}

#input {
  width: 2rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.add-to-cart {
  margin-left: 1rem;
  background-color: rgb(255, 231, 235);
  border-color: pink;
}

.how-to-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.info-button {
  display: flex;
  flex-direction: row;
  border: none;
  width: auto;
  gap: 5%;
}

.info-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

.how-to-use {
  display: none;
}

.ingredients {
  display: none;
}

.how-to-plus,
.ingredients-plus {
  margin-left: 36rem;
}

.ingredients-button {
  margin-top: 0.3rem;
}

.ingredients-content {
  display: flex;
  flex-direction: column;
}
