.hand-cream-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
img {
  width: 90%;
  border-radius: 1rem;
}

.hand-cream-grape,
.hand-cream-lemon,
.hand-cream-orange {
  display: grid;
  place-items: center;
  text-align: center;
}

h3 {
  text-align: center;
}

span {
  margin-left: 7.5rem;
}
